Lexer.fs
Parser.fsi
Parser.fs

lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
TestResults

.fake
.vscode
.DS_Store
.vs/hyggec/xs/UserPrefs.xml
.vs/hyggec/xs/UserPrefs.xml
.vs/hyggec/xs/project-cache/hyggec-Debug.json
.vs/hyggec/xs/UserPrefs.xml
riscv1.asm

global.json
