Lexer.fs
Parser.fsi
Parser.fs

lib/debug
lib/release
Debug
*.suo
*.user
obj
bin
/build/
*.exe
!.paket/paket.bootstrapper.exe
.ionide/
TestResults

.fake
.vscode
.vs/
.idea/
.DS_Store
.vs/hyggec/xs/UserPrefs.xml
.vs/hyggec/xs/UserPrefs.xml
.vs/hyggec/xs/project-cache/hyggec-Debug.json
.vs/hyggec/xs/UserPrefs.xml
riscv1.asm

global.json
.config/dotnet-tools.json
wasi-sdk-20.0
wasi-sdk-20.0-linux.tar.gz

test.wat
test.wasm

temp
data
nodeJsRunner/build/index.js
.gitignore
./build
build
nodeJsRunner/v8
